body {
    background-color: #232528;
}
#bottom {
    margin-bottom: 100px;
}
#return {
    width: 10%;
    height: auto;
}

.sizeitdown {
    margin-top: 50px;
    width: 1000px;
    height: auto;
}

@media only screen and (max-width: 400px) {
    #return{
        width: 40%;
    }
}

@media only screen and (max-width: 1020px) {
    #return{
        width: 20%;
    }
}